body,html{
    position: relative;
    
    height: 714px;
    overflow-x: hidden;
    overflow-y: hidden;

    background: #FFFFFF;

    /* font-style */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;



    color: #000000 ;

}



input,textarea:focus {outline:rgb(156, 156, 156)}

#line28{
    position: absolute;
    width: 1920px;
    height: 0px;
    left: 40px;
    top: 29px;

    border: 1.8018px solid #000000;

}
#group75{
    position: absolute;
    width: 700px;
    height: 140px;
    left: 40px;
    top: 60px;
}

#line29{
    position: absolute;
    width: 3000px;
    height: 0px;
    left: 40px;
    top: 207px;

    border: 1.8018px solid #000000;
}

#frame77{
    position: absolute;
    
    height: 41px;
    left: 40px;
    top: 247px;
}

#frame78{
    position: absolute;
 
    height: 41px;
    left: 40px;
    top: 344px;
}

#frame79{
    position: absolute;
  
    height: 41px;
    left: 580px;
    top: 247px;
}

#frame80{
    position: absolute;
    
    height: 41px;
    
    left: 580px;
    top: 344px;

}

#frame81{
    position: absolute;
    
    height: 41px;
    left: 40px;
    top: 461px;

}

#frame82{
    position: absolute;
    
    height: 41px;
    left: 40px;
    top: 536px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 41px;

    color: #000000;
}

#frame83{
    position: absolute;
   
    height: 41px;
    left: 40px;
    top: 633px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 41px;
    


    color: #000000;
}

#nameform{
    position: absolute;
    width: 455px;
    height: 30px;
    left: 40px;
    top: 290px;

    border:solid rgb(246, 246, 246);
}

#mailform{
    position: absolute;
    width: 455px;
    height: 30px;
    left: 40px;
    top: 390px;

    border:solid rgb(246, 246, 246);

}

#line40 {
    position: absolute;
    width: 460px;
    height: 0px;
    left: 40px;
    top: 316px;

    border: 1.8018px solid #000000;
}

#line41{
    position: absolute;
    width: 460px;
    height: 0px;
    left: 40px;
    top: 413px;

    border: 1.8018px solid #000000;
}

#line42{
    position: absolute;
    width: 460px;
    height: 0px;
    left: 580px;
    top: 316px;

    border: 1.8018px solid #000000;
}

#line43{
    position: absolute;
    width: 460px;
    height: 0px;
    left: 580px;
    top: 674px;

    border: 1.8018px solid #000000;
}

#titleform{
    position: absolute;
    width: 455px;
    height: 30px;
    left: 580px;
    top: 290px;

    border:solid rgb(246, 246, 246);

}

textarea{
    position: absolute;
    width: 455px;
    height: 285px;
    left: 580px;
    top: 390px;
    resize:none;
    text-align:justify;
    border:solid rgb(246, 246, 246);   

}

#Contactinfirmation{
    position: absolute;
    width: 275px;
    height: 30px;
    left: 220px;
    top: 540px;

    border:solid rgb(246, 246, 246);  

}

#typeselect{
    position: absolute;
    width: 275px;
    height: 40px;
    left: 220px;
    top: 635px;

    border:solid  rgb(246, 246, 246);  
    
}



#frame11{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    gap: 10px;

    position: absolute;
    width: 180px;
    height: 61px;
    left: 1200px;
    top: 630px;

    background: #FFFFFF;
    border: 2.8px solid #000000;
    border-radius: 30.5px;
}

button{
    background-color: #FFFFFF;
    border: #FFFFFF;
    z-index: 3;
    
}

#frame11:hover{
    filter: invert(1);
    border: solid 2px;
}